<span id="busuanzi_container_site_uv" style="margin-right:1.5em;">
  <i class="ri-user-smile-line"></i> 独立访客：<span id="busuanzi_value_site_uv"></span>
</span>
<span id="busuanzi_container_site_pv">
  <i class="ri-eye-line"></i> 总浏览量：<span id="busuanzi_value_site_pv"></span>
</span> 